/*
 *  box registre e receba, home, sidebar direita
 */

.registre-receba {
	width: 100%;
	height: 100%;
	background-color: $cor1;
	padding: 25px;
	box-shadow: -20px -20px 60px #FFFFFF, 20px 20px 60px rgba(217, 217, 217, 0.2);
	border-radius: 4px;
	background-image: url('../images/bg-cadastrese.svg');
	background-position: bottom right;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	justify-content: center;

	h4 {
		color: #ffffff;
	}

	.btn {
		margin-top: 20px;
	}

	@media all and (max-width: 1100px){
		flex-direction: row;
		justify-content: center;
		align-items: center;

		a {
			&.btn-full {
				display: inline-block;
				width: auto;
				margin: 0 0 0 25px;
			}
		}
		
	}

	@media all and (max-width: 600px){
		flex-direction: column;
		padding: 15px;

		a {
			&.btn-full {
				margin: 20px 0 0 0;
			}
		}		
	}

	@media all and (max-width: 500px){
		padding: 25px 40px;
	}
}

/*
 *  fim box registre e receba, home, sidebar direita
 */

@include separacao;

/*
 *  box minha área resumo, home, sidebar direita
 */

.minha-area-resumo {
	width: 100%;
	height: 100%;
	background: #ffffff;
	padding: 15px;
	border: 1px solid $cor-border;
	border-radius: 4px;
	box-shadow: 20px 20px 60px rgba(217, 217, 217, 0.2), -20px -20px 60px #FFFFFF;
	@include box-sizing;

	h3 {
		font-size: 18px;
		line-height: 36px;
		font-weight: $bold;
		text-align: center;
		margin: 0;
	}

	.txt-mini {
		color: $cor-txt-claro;
		font-size: 12px;
	}

	.tit-resumo {
		margin: 25px auto 15px;
		text-align: center;
		width: 100%;
		font-size: 12px;
		font-weight: $bold;
		display: flex;
		align-items: center;
		justify-content: center;

		.ico-svg {
			margin-right: 7px;
		}

		span {
			font-size: 12px;
			line-height: normal;
			text-transform: uppercase;
			color: $cor1;
		}
	}

	.previsao-chuva {
		display: block;
		overflow: hidden;
		margin: 0 -5px 25px;

		.item-previsao {
			float: left;
			width: 50%;
			padding: 5px;
			@include box-sizing;

			a {
				border-color: $cor-border;
				height: 33px;
				line-height: 33px;
				font-size: 12px;
				text-transform: uppercase;
				padding: 0;
				font-weight: $medium;
				color: $cor-txt;

				&:hover {
					color: $cor-txt;
					background-color: $bgclaro;
				}
			}
		}
	}

	.box-btn-resumo {
		margin-top: 25px;

		.btn-resumo {
			line-height: normal;
			height: auto;
			margin-bottom: 27px;
			background-color: transparent;

			&:last-child {
				margin-bottom: 0;
			}

			&:hover {
				border-color: transparent;
			}
		}
	}
}

/*
 *  fim box minha área resumo, home, sidebar direita
 */


