.registre-receba {
	width: 100%;
	height: 100%;
	background-color: $cor1;
	padding: 25px;
	box-shadow: -20px -20px 60px #FFFFFF, 20px 20px 60px rgba(217, 217, 217, 0.2);
	border-radius: 4px;
	background-image: url('../images/bg-cadastrese.svg');
	background-position: bottom right;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	justify-content: center;

	h4 {
		color: #ffffff;
	}

	.btn {
		margin-top: 20px;
	}

	@media all and (max-width: 1100px){
		flex-direction: row;
		justify-content: center;
		align-items: center;

		a {
			&.btn-full {
				display: inline-block;
				width: auto;
				margin: 0 0 0 25px;
			}
		}
		
	}

	@media all and (max-width: 600px){
		flex-direction: column;
		padding: 15px;

		a {
			&.btn-full {
				margin: 20px 0 0 0;
			}
		}		
	}

	@media all and (max-width: 500px){
		padding: 25px 40px;
	}
}