a, .btn {
	&.cinza-claro {
		//color: $cinza-claro;

		&.transparente {
			color: $cinza-claro;
			border-color: $cinza-claro;

			i {
				color: $cinza-claro;
			}

			&:hover {
				color: #ffffff;
				background-color: $cinza-claro;

				i {
					color: #Ffffff;
				}
			}
		}
	}

	&.cor1 {
		background-color: $cor1;
		border-color: $cor1;
		color: #ffffff;

		&:hover {
			background-color: darken($cor1, 10%); 
			border-color: darken($cor1, 10%); 
		}
	}

	&.cor2 {
		background-color: $cor2;
		border-color: $cor2;
		color: #ffffff;

		&:hover {
			background-color: darken($cor2, 10%); 
			border-color: darken($cor2, 10%); 
		}
	}
}








// BACGROUND
.bg-cinza {
	background: #f2f2f2;
}

.bg-azul {
	background: rgba($azul, .25);
	
	&.bg-total {
		background: $azul;
	}
}

.bg-laranja {
	background: rgba($laranja, .25);
	
	&.bg-total {
		background: $laranja;
	}
}

.bg-claro {
	background-color: $bgclaro;
}

.bg-escuro {
	background-color: $bgescuro;
}

.branco {
	color: #ffffff;
}

.button {
	&.amarelo {
		background-color: $amarelo;
		color: #ffffff;
		border-color: $amarelo;

		&:hover {
			background-color: darken($amarelo, 10%);
			border-color: darken($amarelo, 10%);
		}
	}

	&.vermelho {
		background-color: $vermelho;
		color: #ffffff;
		border-color: $vermelho;

		&:hover {
			background-color: darken($vermelho, 10%);
			border-color: darken($vermelho, 10%);
		}
	}

	&.laranja {
		background-color: $laranja;
		color: #ffffff;
		border-color: $laranja;

		&:hover {
			background-color: darken($laranja, 10%);
			border-color: darken($laranja, 10%);
		}
	}

	&.azul {
		background-color: $azul;
		color: #ffffff;
		border-color: $azul;

		&:hover {
			background-color: darken($azul, 10%);
			border-color: darken($azul, 10%);
		}

		&.transparent {
			color: $azul;
			background: transparent;

			&:hover {
				background-color: $azul;
				color: #ffffff;
			}
		}
	}

	&.cinza {
		background-color: $cinza;
		color: darken($cinza, 30%);
		border-color: $cinza;

		&:hover {
			background-color: darken($cinza, 10%);
			border-color: darken($cinza, 10%);
		}

		&.transparent {
			color: darken($cinza, 20%);
			background: transparent;

			&:hover {
				background-color: $cinza;
				color: darken($cinza, 30%);
			}
		}
	}
}



// CORES
.label {
	&.vermelho {
		background-color: $vermelho;
	}

	&.azul {
		background-color: $azul;
	}

	&.laranja {
		background-color: $laranja;
	}
}

.cor1 {
	color: $cor1;
}

.cor2 {
	color: $cor2;
}

.cor3 {
	color: $cor3;
}

.cor4 {
	color: $cor4;
}

.verde-limao {
	color: $verde-limao;
}

.cinza {
	color: $cinza;
}

.laranja {
	color: $laranja;
}

.lilas {
	color: $lilas;
}

.verde-claro {
	color: $verde-claro;
}