strong, .bold {
	font-weight: $bold;
}

.medium {
	font-weight: $medium;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font;
	display: block;
}

h1 {
	font-size: 4.6875rem;
	line-height: 4.25rem;
	margin-bottom: 80px;
}

h2, h2 strong {
	font-size: 1.875rem;
	line-height: 2.275rem;
}

h3, h3 strong {
	font-weight: $bold;
	font-size: 2rem;
	line-height: 2.25rem;
}

h4 {
	font-family: $font-titulo;
	font-weight: $regular;
	font-size: 1.25rem;
	line-height: 1.375rem;

	@media all and (max-width: 800px){
		font-size: 1rem;
		line-height: 1.175rem;
	}
}

h5 {

}

h6 {

}

p {
	font-size: $font-size;
	line-height: $line-height;

	&.margin {
		margin-top: 15px;
	}

	&.subtitulo {
		max-width: 638px;
		margin: 5px auto 0;
		text-align: center;
	}

	&.txt-mini, &.txt-mini strong {
		font-size: .875rem;
	}
}

.justify-center {
	text-align: justify;  
	-moz-text-align-last: center;
	text-align-last: center;
}

.justify {
	text-align: justify;  
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.no-padding {
	padding: 0;
}

.uppercase {
	text-transform: uppercase;
}

.no-uppercase {
	text-transform: none;
}


a {
	cursor: pointer;
}

a, button, .btn-in {
	cursor: pointer;
	text-decoration: none;
	@include animacao;

	i {
		@include animacao;
	}

	&:hover {
		text-decoration: none;		
	}

	&.link {
		display: inline-block;
	}

	&.btn {
		font-weight: $medium;
		border: 1px solid $cor-txt;
		background-color: #ffffff;
		color: $cor-txt;
		display: inline-block;
		border-radius: 4px;
		padding: 0 30px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: .875rem;
		@include box-sizing;

		@media all and (max-width: 700px){
			height: 40px;
			line-height: 40px;
			padding: 0 20px;
		}

		&.btn-full {
			width: 100%;
		}

		&.transparente {
			background-color: transparent;
			color: #ffffff;

			&:hover {
				background-color: #ffffff;
				color: $cor-txt;
			}

			&.default {
				background-color: transparent;
				color: $cor-txt-claro;
				border-color: $cor-txt-claro;

				&:hover {
					background-color: $vermelho;
					border-color: $vermelho;
					color: #ffffff;
				}
			}
		}

		&.btn-cadastre {
			border-color: rgba(#ffffff, .5);
			background-color: $cor1;
			color: #ffffff;

			&:hover {
				background-color: darken($cor1, 5%);
			}
		}
	}

	&.underline {
		&:hover {
			text-decoration: underline;
		}
	}
}

.label {
	color: #ffffff;
	display: inline-block;
	font-size: .6rem;
	text-transform: uppercase;
	padding: 5px 10px;
	font-weight: $regular;
	letter-spacing: 1px;
}


.paginacao {
	margin: 50px auto 0;
	text-align: center;

	li {
		display: inline-block;
		margin: 0px;

		span, a {
			display: block;
			font-size: 1.225rem;
			font-weight: $medium;
			line-height: 40px;
			height: 40px;
			padding: 0 10px;
		}

		a {
			color: $verde;
			@include animacao;

			.fa {
				font-size: 1.225rem;
				font-weight: $medium;
				color: $verde;
			}

			&:hover {
				background-color: rgba($verde, .5);
			}
		}

		span {
			background-color: $verde;
			color: #ffffff;
		}
	}
}

.tags {
	display: block;
	width: 100%;

	li {
		display: inline-block;

		.label {
			margin: 0;
			color: $cor-txt;
			border: 1px solid $cor-txt;
			opacity: .6;

			&:hover {
				color: $laranja;
			}
		}
	}
}


.redes-sociais {
	i {
		font-size: 1.31rem;
		top: 2px;
		padding-right: 10px;
	}

	a {
		&:last-child {
			i {
				padding-right: 0;
			}
		}
	}
}