
/*
 *  estrutura
 */


/*body * {
	font-family: $font-family;
}*/

.box-container {
	max-width: 100%; 
	width: 100%;
	//padding: 0 $padding-container!important;
	margin: 0 auto!important;
	position: relative;
	@include box-sizing;
	@include clear;
}

.box-section {
	width: 100%;
	position: relative;
	//padding: $padding-section 0;
	@include clear;
	@include box-sizing;	
}

/*
 *  fim estrutura
 */
