html {
	font-size: 100%; 
}

body {
	position: relative;
	min-height: 100vh;
	background: #E5E5E5;
}

body * {
	font-family: $font-family;
	color: $cor-txt;
	line-height: $font-size+.25;
	font-weight: $regular;
	font-size: $font-size; 
}

.container {
	max-width: $width; 
	width: 100%;//$width; 
	//width: 100%;
	padding: 0 $padding-container;
	margin: 0 auto;
	position: relative;
	@include box-sizing;
	@include clear;

	@media all and (max-width: 700px){
		padding: 0 15px;
	}
}


.row {
	display: flex;
	align-items: stretch;
	margin-bottom: 30px;
	@include clear();

	@media all and (max-width: 700px){
		margin-bottom: 15px;
	}
	
	&:last-child {
		margin-bottom: 0;
	}

	&:not(.no-padding){
		margin-right: ($padding-col)*(-1);
		margin-left: ($padding-col)*(-1);

		[class*="col-"] {
			padding-right: $padding-col; 
			padding-left: $padding-col;
		}

		&.row-mini {
			margin-right: ($padding-col/2)*(-1);
			margin-left: ($padding-col/2)*(-1);

			[class*="col-"] {
				padding-right: ($padding-col/2); 
				padding-left: ($padding-col/2);
			}
		}
		
		@media all and (max-width: 1100px){
			&.row-full-1100px {
				flex-direction: column;

				[class*="col-"] {
					width: 100%;
					max-width: 100%;
					margin-bottom: 30px;
						
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		@media all and (max-width: 700px){
			&.row-full-1100px {
				[class*="col-"] {
					margin-bottom: 15px;
				}
			}
		}
	}

	&.no-padding {
		margin-left: 0;
		margin-right: 0;
	}

	[class*="col-"] {
		@include box-sizing();

		img {
			max-width: 100%;
		}
	}

	@for $i from 1 through 12 {
		.col-#{$i} {
			width: $i*(100%/12);
		}
	}

	@for $i from 1 through 12 {
		.col-m-#{$i} {
			margin-left: $i*(100%/12);
		}
	}

	.col-4 {
		&:nth-child(3n+4) {
			@include clear;
		}
	}
}


.box-section {
	@include clear;
	@include box-sizing;
	width: 100%;
	position: relative;
	padding: $padding-section 0;

	.row {
		.col-12 {
			h1 {
				&:first-child {
					//margin-top: 0;
				}
			}
		}
	}

	&.no-padding-top {
		padding-top: 0px;
	}

	.conteudo {
		//width: 100%;
		max-width: 780px;
		padding: 0 0 15px 0;
		margin: 0px;
		display: block;		
		@include box-sizing;

		ul {

		}

		p {
			padding-bottom: 30px;

			&:last-child {
				padding-bottom: 0;
			}

			&:first-child {
				margin-top: 0;
			}
		}

		blockquote {
			background: #fff;
			margin-left: 0px;
			padding: 55px 0;

			p {
				font-family: $font-titulo;
				font-weight: $regular;
				font-size: 1.75rem;
				line-height: 2.25rem;
			}

			~ p {
				padding-top: 15px;
			}
		}
	}

	.conteudo-post {
		img {
			width: 100%;
		}

		.conteudo {

		}
	}
}

.single-post {
	.box-section {
		.conteudo {
			max-width: 100%;
			display: table-cell;
			vertical-align: top;

			iframe {
				max-width: 100%;
			}
		}
	}
}

.bg-imagem {
	@include cover;
}

.parallax {
	background-attachment: fixed;
}

.bg-mascara {
	position: relative;
	z-index: 0;

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 0;
		background-color: rgba(#46495c, .5);
	}

	&.vermelho {
		&:before {
			background-color: rgba($cor1, .8);
		}		
	}
}


.flex {
	display: flex;

	&.align-center {
		align-items: center;
	}

	&.align-bottom {
		align-items: end;
		align-items: flex-end;
	}

	&.justify-center {
		justify-content: center;
	}
}


.margin-bottom-30px {
	margin-bottom: 30px;
}