
/* GRID */

.row {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	margin-bottom: 30px;
	@include clear();

	margin-right: ($padding-col)*(-1);
	margin-left: ($padding-col)*(-1);

	[class*="col-"] {
		padding-right: $padding-col;
		padding-left: $padding-col;
		@include box-sizing();
	}

	@for $i from 1 through 12 {
		.col-#{$i} {
			flex: 0 0 $i*(100%/12);
			max-width: $i*(100%/12);
			flex-grow: $i;
		}
	}
}

/* FIM - GRID */
