$width: 1280px;
$padding-section: 40px;
$padding-container: 75px;
$padding-col: 15px;

$font-size: 14px;
$line-height: 22px;

$cor-txt: #343731;
$cor-txt-claro: #B2B2B2;

$cor-border: #f6f6f6;

// CORES
$cor1: #19AAE3;
$principal: #8EC044;
$secundario: #19AAE3;

$bgescuro: #1E201C;
$bgclaro: #fefefe;


// FONTES
$font: 'Roboto', sans-serif;
$font-family: $font;
$font-titulo: $font;

$light: 300;
$regular: 500;
$medium: 600;
$semi-bold: 700;
$bold: 700;
$extra-bold: 900; 